.miner__row {
  font-size: 20px;
  letter-spacing: 0.05rem;
}

.miner__name {
  font-weight: 700;
  width: 10%;
}

.miner__generation {
  width: 25%;
}

.miner__amount {
  width: 21%;
}

.miner__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.miner__button {
  background-color: transparent;
  border: 1px solid black;
  padding: 0.2rem 2rem;
  border-radius: 0.4rem;
  width: 100%;
  margin: 0 0.1rem;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 0.1rem;
}

.miner__button:hover {
  background-color: rgb(201, 196, 196);
  transition: background-color 0.4s;
}
